html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.td-description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 600px;
  display: inline-block;
}

.card {
  border: unset !important;
  border-radius: 20px !important;
  box-shadow: 0 14px 30px rgba(103,132,187,.15), 0 4px 4px rgba(103,132,187,.05);
  transition: .5s ease-in-out;

}

.card-product:hover {
  transform: scale(1.01);
  box-shadow: 0 20px 30px rgba(103,132,187,.30), 0 10px 10px rgba(103,132,187,.05) !important;
}

.archiveText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.navbar {
  border-radius: 0 0 10px 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.radius-20px {
  border-radius: 20px !important;
}

.btn {
  border-radius: 25px !important;
}